.blog-image {
  position: relative;
}

.blog-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  letter-spacing: 3px;
  }

.field_image_caption {
    position: relative;
  }

.field_image_caption {

    width: 100%;

    background: rgba(0,0,0,0);
  

    color: blue;
    font-size: 12pt;
    letter-spacing: 3px;
    }

.blog-date {
  text-align: right;
}
